.site-list {
  //
}

.site-list__item {
  //
}

.site-list__item--current {
  //
}

.site-list__link {
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 12px 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.navigation__link--current {
  //
}
